@using LoowooTech.Common
@using LoowooTech.Passport.Model
@{
    List<Group> groups = ViewBag.Groups;
    var selectedGroups = Model.Groups == null ? new int[] { } : (Model.Groups as string).Split(',').Select(e => int.Parse(e)).ToArray();
    var groupData = groups.Select(e => new { e.GroupId, e.Name, selected = selectedGroups.Contains(e.GroupId) });
    var agentUsernames = string.Join("\n",ViewBag.AgentUsernames);
}
<form id="account-form" action="/admin/account/edit" method="post">
    <input type="hidden" name="AccountId" value="@Model.AccountId" />
    <table>
        <tr>
            <td>用户名：</td>
            <td>
                <input type="text" name="Username" value="@(Model.Username)" />
            </td>
        </tr>
        <tr>
            <td>系统角色：</td>
            <td>
                <select name="Role" class="easyui-combobox" panelheight="auto" editable="false" style="width: 200px;">
                    <option value="@((short)Role.User)" @(Model.Role == (short)Role.User ? " selected=\"selected\"" : "")>普通用户</option>
                    <option value="@((short)Role.Administrator)" @(Model.Role == (short)Role.Administrator ? " selected=\"selected\"" : "")>系统管理员</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>密码：</td>
            <td>
                <input type="password" name="password" />
            </td>
        </tr>
        <tr>
            <td>所属机构：</td>
            <td>
                <input type="text" id="account-deparment-select" name="DepartmentId" value="@(Model.DepartmentId)" class="easyui-combotree" panelheight="auto" editable="false" style="width: 200px;" /></td>
            </td>
        </tr>
        <tr>
            <td>所属权限组：</td>
            <td>
                <input id="account-group-select" type="text" name="Groups" class="easyui-combobox" style="width: 300px;" />
            </td>
        </tr>
        <tr>
            <td>指定代理人：</td>
            <td>
                <textarea name="agentUsernames" style="width: 300px;" rows="6">@(agentUsernames)</textarea><br />
                填写代理人用户名,每行一个
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table>
                    <tr>
                        <td>姓名：</td>
                        <td>
                            <input type="text" name="TrueName" value="@(Model.TrueName)" />
                        </td>
                        <td>职务：</td>
                        <td>
                            <input type="text" name="Job" value="@(Model.Job)" />
                        </td>
                    </tr>
                    <tr>
                        <td>Email：</td>
                        <td>
                            <input type="text" name="Email" value="@(Model.Email)" />
                        </td>
                        <td>联系电话：</td>
                        <td>
                            <input type="text" name="Phone"  value="@(Model.Phone)"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><a href="#" id="account-form-btn-save" class="easyui-linkbutton" iconcls="icon-save">保存</a></td>
        </tr>
    </table>
</form>
<script>
    (function () {
        var treeData = @(Html.Raw((ViewBag.Departments as object).ToJson()));
        var roots = [];
        treeData.forEach(function(data){
            roots.push(convertData(data));
        });

        function convertData(data){
            var node = {};
            node.id = data.ID;
            node.text = data.Name;
            if(data.children.length >0){
                node.children = [];
                data.children.forEach(function(c){
                    node.children.push(convertData(c));
                });
            }
            return node;
        }

        $("#account-deparment-select").combotree({
            data:roots
        });

        $("#account-group-select").combobox({
            valueField: "GroupId",
            textField: "Name",
            multiple: true,
            panelHeight: "auto",
            editable:false,
            data:@(Html.Raw(groupData.ToJson()))
            });

        $("#account-form-btn-save").click(function () {
            $("#account-form").form("submit", {
                success: function (data) {
                    data = $.parseJSON(data);
                    if (data.result) {
                        console.log(data);
                        $.closeWindow();
                        $("#account-list").datagrid("reload");
                    }
                }
            });
            return false;
        });
    })();
</script>
