@using LoowooTech.Common
@using LoowooTech.Passport.Model

@{
    var clientId = Request["clientId"];
    List<Client> clients = ViewBag.Clients;
}

<form id="deparment-form" action="/admin/department/edit" method="post">
    <input type="hidden" name="ID" value="@(Model.ID)" />
    <table>
        <tr>
            <td>机构/部门名称：</td>
            <td>
                <input type="text" name="Name" value="@(Model.Name)" style="width:200px;" /></td>
        </tr>
        <tr>
            <td>所属上级：</td>
            <td>
                <select id="deparment-form-parent" name="ParentId" class="easyui-combotree" editable="false" style="width: 200px;"></select></td>
        </tr>
        <tr>
            <td>所属站点：</td>
            <td>
                <select id="deparment-form-client" name="ClientId" class="easyui-combobox" editable="false" style="width: 200px;">
                    @foreach (var client in clients)
                    { 
                        <option value="@(client.ID)" @(client.ID.ToString() == clientId ? "selected=\"selected\"" : "")>@(client.Name)</option>
                    }
                </select></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="#" id="deparment-form-btn-save" class="easyui-linkbutton" iconcls="icon-save">保存</a>
        </tr>
    </table>
</form>
<script>
    (function () {
        $("#deparment-form-parent").combotree({
            valueField:"id",
            textField:"name",
            data:@(Html.Raw((ViewBag.Tree as object).ToJson())),
        });
        $("#deparment-form-btn-save").click(function () {
            $("#deparment-form").form("submit", {
                success: function (data) {
                    if (data.result) {
                        console.log(data);
                        $.closeWindow();
                        $("#deparment-list").treegrid("reload");
                    }
                }
            });
            return false;
        });
    })();
</script>
