@using LoowooTech.Passport.Model
@using LoowooTech.Common

<form id="client-form" action="/admin/client/edit?id=@(Model.ID)" method="post">
    <input type="hidden" name="ClientId" value="@(Model.ClientId)" />
    <input type="hidden" name="ClientSecret" value="@(Model.ClientSecret)" />
    <input type="hidden" name="CreateTime" value="@(Model.CreateTime)" />
    <table>
        @if (Model.ID > 0)
        { 
            <tr>
                <td>ID:</td>
                <td>@(Model.ClientId)</td>
            </tr>
            <tr>
                <td>密钥：</td>
                <td>@(Model.ClientSecret)</td>
            </tr>
        }
        <tr>
            <td>站点名称：</td>
            <td>
                
                <input type="text" name="Name" value="@(Model.Name)" style="width:300px;" />
            </td>
        </tr>
        <tr>
            <td>站点域名：</td>
            <td>
                <input type="text" name="Hosts" value="@(Model.Hosts)"  style="width:300px;" />
                多个用,隔开
            </td>
        </tr>
        <tr>
            <td>所属机构：</td>
            <td>
                <input type="text" id="client-deparment-select" name="DepartmentId" value="@(Model.DepartmentId)" class="easyui-combotree" panelheight="auto" editable="false" style="width: 200px;" /></td>
            </td>
        </tr>
        <tr>
            <td>站点描述：</td>
            <td>
                <textarea name="Description" style="width:350px;height:60px;">@(Model.Description)</textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="#" id="client-form-btn-save" class="easyui-linkbutton" iconcls="icon-save">保存</a>
            </td>
        </tr>
    </table>
</form>
<script>
    (function () {
        var treeData = @(Html.Raw((ViewBag.Departments as object).ToJson()));
        var roots = [];
        $.each(treeData,function(i,data){
            roots.push(convertData(data));
        });

        function convertData(data){
            var node = {};
            node.id = data.ID;
            node.text = data.Name;
            if(data.children.length >0){
                node.children = [];
                $.each(data.children,function(i,c){
                    node.children.push(convertData(c));
                });
            }
            return node;
        }

        $("#client-deparment-select").combotree({
            data:roots
        });

        $("#client-form-btn-save").click(function () {
            $("#client-form").form("submit", {
                success: function (data) {
                    data = $.parseJSON(data);
                    if (data.result) {
                        $.closeWindow();
                        $("#client-list").datagrid("reload");
                    }
                }
            });
            return false;
        });
    })();
</script>
