<div id="navigation" data-options="border:false,animate:false,fit:true">
    <ul>
        <li>@(Html.ActionLink("用户管理", "List", "Account"))</li>
        <li>@(Html.ActionLink("站点管理", "List", "Client"))</li>
        <li>@(Html.ActionLink("权限管理", "List", "Group"))</li>
        <li>@(Html.ActionLink("部门科室管理", "List", "Department"))</li>
        <li>@(Html.ActionLink("职级管理","List","Rank"))</li>
    </ul>
</div>
